{% extends "template.html" %}
{% block content %}

    <div class="jumbotron text-center bg-dark text-white">
        <h1>Table Top Server</h1>
        <p>This server contains various helper-tools for table top games.</p>
    </div>

{#    <ul>
    {% for url, endpoint in links %}
    <li><a href="{{ url }}">{{ endpoint }}</a></li>
    {% endfor %}
    </ul>#}

    <div class="row">
        <div class="col-md-3">
            <a href="raiders"><img src="static/images/cover_raiders_400px.png" class="img-fluid"></a>
            <h5>Raiders of the North Sea: Setup randomizer</h5>
            <p>The script will generate a random setup for the game. Mead, Iron and other tokens will be split to all locations on the game board.<a href="raiders">Go to page!</a></p>
        </div>
    </div>
{% endblock %}