{% extends "template.html" %}
{% block content %}

    <h1>Raiders of the North Sea</h1>

    <form method="POST" action="">
        {% for extension, full_name in extensions %}
            <input type="checkbox" value="{{ extension }}" name="my_checkbox"/> {{ full_name }}
        {% endfor %}

        <button type="submit">Generate</button>
    </form>

{% if locations|length %}
    {% for batch in locations %}
    <div class="row">
        {% for location in batch %}
            {% for name, tokens in location.items() %}

                {%  set span = (12 / batch|length)|round|int %}

                {% if name == "" %}
                    {% set class = "col-sm-" ~ span ~ " d-none d-md-block" %}
                {% else %}
                    {% set class = "col-sm-" ~ span %}
                {% endif %}

                <div class="{{ class }}">
                    <strong>{{ name }}</strong><br/>

                {% for token in tokens %}
                    {% if token != "None" %}
                        <img src="static/images/raiders_token_{{ token }}.png" class="img-thumbnail" style="width: 36px; height: 36px">
                    {% else %}
                        {{ " " }}
                    {% endif %}
                {% endfor %}
                </div>
           {% endfor %}
        {% endfor %}
    </div>
    {% endfor %}
{% else %}

    <div class="row">
        <strong>Waiting for input...</strong>
        <div class="col">Select the add-ons you are using and press 'Generate'.</div>
    </div>
{% endif %}

{% endblock %}