{% extends "template.html" %}
{% block content %}

    <h1>Raiders of the North Sea</h1>

    <form method="POST" action="">
        {% for extension, full_name in extensions %}
            <input type="checkbox" value="{{ extension }}" name="my_checkbox"/> {{ full_name }}
        {% endfor %}

        <button type="submit">Generate</button>
    </form>

{% if locations|length %}
    {% for batch in locations %}
    <div class="row">
        {% for location in batch %}
            {% for name, tokens in location.items() %}
                {%  set span = (12 / batch|length)|round|int %}
                <div class="col-sm-{{ span }}">
                    <strong>{{ name }}</strong>
                    {% for token in tokens %}
                        <div>{{ token }}</div>
                    {% endfor %}
                </div>
           {% endfor %}
        {% endfor %}
    </div>
    {% endfor %}
{% else %}

    <div class="row">
        <strong>Waiting for input...</strong>
        <div class="col">Select the add-ons you are using and press 'Generate'.</div>
    </div>
{% endif %}

{% endblock %}